{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenu sur la page de blog ! </h1>

    <header>
        Les pages du site :
        <ul>
            <li><a href=" {{ path('accueil') }}">Accueil</a></li>
            <li><a href=" {{ path('contact', {type : 'Montpellier', name : 'Nassim'}) }}">Contact</a></li>
            <li><a href=" {{ path('blog') }}">Blog</a></li>
        </ul>
    </header>

    <p>Voici quelques articles :</p>
    <ul>
        <li><a>Article 1</a></li>
        <li><a>Article 2</a></li>
        <li><a>Article 3</a></li>
    </ul>
</div>
{% endblock %}
